h1 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px #5f9ee688;
}

.map {
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
}

.info {
  margin: 30px;
  position: absolute;
  padding: 1px;
  top: 30%;
  left: 6.5%;
  border-radius: 10px;
  z-index: 2;
  padding: 1%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 28px;
  background-color: #476fdd9f;
  color: white;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.display {
  /* display: inline; */
  font-size: 18px;
}
